
[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest

[submodule "lib/hayai"]
	path = lib/hayai
	url = https://github.com/nickbruun/hayai

[submodule "lib/stdhl"]
	path = lib/stdhl
	url = git@github.com:ppaulweber/libstdhl

[submodule "lib/pass"]
	path = lib/pass
	url = git@github.com:ppaulweber/libpass

[submodule "lib/casm-fe"]
	path = lib/casm-fe
	url = git@github.com:casm-lang/libcasm-fe

[submodule "lib/casm-ir"]
	path = lib/casm-ir
	url = git@github.com:casm-lang/libcasm-ir

[submodule "lib/casm-rt"]
	path = lib/casm-rt
	url = git@github.com:casm-lang/libcasm-rt

[submodule "lib/casm-tc"]
	path = lib/casm-tc
	url = git@github.com:casm-lang/libcasm-tc
